# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\skzab\OneDrive - Athlone Institute Of Technology\Year 2\Semester2\Soft Dev - David\Lab11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
